.fb-h{
    display: flex;
    justify-content: center;
    align-items: center;
    .fb-c{
        margin-left: 14%;
        display: flex;
        flex-direction: column;
        width: 100%;
        .cart{
            background: white;
            padding: 10px;
            
            border: yellow 2px solid;
            width: 80%;
            .order-comp{
                display: flex;
                padding: 5px;
                align-items: center;
                .o-img{
                    width: 100px;
                    object-fit: contain;
                    padding: 5px;
                    flex: 1;
                }
                .o-name{
                    padding: 2px 6px 2px 6px;
                    flex: 5;
                }
                .o-quan{
                    padding: 2px 10px 2px 10px;
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .q-rem{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px;
                        border: 2px solid yellow;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .q-add{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3px;
                        border: 2px solid yellow;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .o-price{
                    padding: 2px 10px 2px 10px;
                    flex: 1;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .o-delete{
                    padding: 2px 10px 2px 10px;
                    flex: 1;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    &:hover{
                        cursor: pointer;
                    }
                }

            }
        }
        .checkout-area{
            width: 80%;
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            background: rgba(255, 255, 255, 0.363);
            border-radius: 10px;
            .t-amount{
                .amount{
                    color: yellow;
                }
            }
            .checkout{
                background: yellow;
                padding: 10px;
                font-size: 1rem;
                margin-left: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}