@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: radial-gradient(78.1% 78.1% at 50% 21.9%, rgba(15, 17, 20, 0) 0%, rgb(15, 17, 20) 100%), url("https://d273822p0momvo.cloudfront.net/eyJidWNrZXQiOiJ3YXZlZGFzaC13ZWJzaXRlLWltYWdlcyIsImtleSI6ImltYWdlcy91aS1hc3NldHMvY292ZXIucG5nIiwiZWRpdHMiOnsianBlZyI6eyJxdWFsaXR5Ijo5MH0sInJlc2l6ZSI6eyJ3aWR0aCI6MTkyMCwiaGVpZ2h0IjoxMDgwLCJ3aXRob3V0RW5sYXJnZW1lbnQiOmZhbHNlfX19");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-screen{
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: transparent;

    .user{
        background: rgba(255, 255, 255, 0.212);
        border: 2px solid yellow;
        padding: 5px 60px 5px 60px;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
          font-family: 'Coda Caption', sans-serif;
          color: yellow;
        }
        h3{
          font-family: 'Roboto Mono', monospace;
          color: yellow;
          padding: 10px;
        }
      .advert-c{
        padding: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.432);
        margin-top: 30px;
        width: 900px;
        h3{
          padding: 5px;
          background: black;
          border-radius: 10px;
        }
        p{
          background: black;
          padding: 5px;
          border-radius: 10px;
        }
      }
    }
}
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 10px;
    border: 1px solid black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }